.topTriangle {
  position: relative;
  top: -1px;
  width: 70px;
  height: 0;
  border-bottom: 50px solid gray;
  border-left: 50px solid transparent;
  border-top: 0;
  border-right: 0;
}

.bottomTriangle {
  width: 70px;
  height: 0;
  border-top: 50px solid gray;
  border-left: 50px solid transparent;
  border-bottom: 0;
  border-right: 0;
}
